<!doctype html>
<title>RFSecure</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>RFSecure</h1>
  <div class=metanav>
  {% if session.admin %}
      <a href="{{ url_for('profile') }}">Create New User</a>
      <a href="{{ url_for('log') }}">Add Security Log</a>
  {% elif session.worker %}
      <a href="{{ url_for('register') }}">Register New Visitor</a>
  {% elif session.security %}
      <a href="{{ url_for('log') }}">Add Security Log</a>
  {% endif %}
  {% if session.back and session.admin%}
      <a href="{{ url_for('admin') }}">Back</a>
  {% elif session.back and session.security %}
      <a href="{{ url_for('security') }}">Back</a>
  {% elif session.back and session.worker %}
      <a href="{{ url_for('worker') }}">Back</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
