{% extends "layout.html" %}
{% block body %}
  <h2>Log Manager</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('log') }}" method=post>
    <dl>
      <dt>Location:
      <dd><input type="radio" name="location" value="desk" checked> Desk
      <dd><input type="radio" name="location" value="door"> Door
      <dt>Personal ID:
      <dd><input type=text name=number>
      <dt>Flag:
      <dd><input type="radio" name="flag" value="lowrisk" checked> Low-Risk
      <dd><input type="radio" name="flag" value="suspicious"> Suspicious
      <dd><input type="radio" name="flag" value="highrisk"> High-Risk
      <dd><input type=submit value="Submit">
    </dl>
  </form>
{% endblock %}
