{% extends "layout.html" %}
{% block body %}
  <h2>Profile</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('profile') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type="radio" name="type" value="admin" checked> Admin
      <dd><input type="radio" name="type" value="security"> Security
      <dd><input type="radio" name="type" value="worker"> Worker
      <dd><input type=submit value=Profile>
    </dl>
  </form>
{% endblock %}
