{% extends "layout.html" %}
{% block body %}
  <h2>User Search Options</h2>
  <form action="{{ url_for('search_first') }}">
    <dl>
      <dd><input type=submit value="First Name Search">
    </dl>
  </form>
  <form action="{{ url_for('search_last') }}">
    <dl>
      <dd><input type=submit value="Last Name Search">
    </dl>
  </form>
  <form action="{{ url_for('search_num') }}">
    <dl>
      <dd><input type=submit value="Personal ID Search">
    </dl>
  </form>
  <h2>Security Log</h2>
  <ul class=logs>
  {% for log in logs %}
    <li>{{ log[0] }} {{ log[1] }} {{ log[2] }} {{ log[3] }}
  {% else %}
    <li><em>No Logs Found</em>
  {% endfor %}
  </ul>
{% endblock %}
