{% extends "layout.html" %}
{% block body %}
  <h2>User Search Options</h2>
  <form action="{{ url_for('search_first') }}">
    <dl>
      <dd><input type=submit value="First Name Search">
    </dl>
  </form>
  <form action="{{ url_for('search_last') }}">
    <dl>
      <dd><input type=submit value="Last Name Search">
    </dl>
  </form>
  <form action="{{ url_for('search_num') }}">
    <dl>
      <dd><input type=submit value="Personal ID Search">
    </dl>
  </form>
  <h2>Security Log</h2>
  <table>
  <tr>
    <th>Location</th>
    <th>Timestamp</th>
    <th>Personal ID</th>
    <th>Card ID</th>
    <th>Flag</th>
  </tr>
  <ul class=logs>
  {% for log in logs %}
  <tr>
    <td>{{ log[0] }}</td>
    <td>{{ log[1] }}</td>
    <td>{{ log[2] }}</td>
    <td>{{ log[3] }}</td>
    <td>{{ log[4] }}</td>
  </tr>
  {% endfor %}
  </ul>
  </table>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  </style>
{% endblock %}
